NODE_ENV=

LOG_LEVEL=

HTTP_PORT=

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_HOST=
DATABASE_URI=

REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

GRPC_HOST=
GRPC_PORT=